{% extends 'master.html' %}
{% load static %}
{% block content %}
<title>Sheltek || Features</title>
        <!-- BREADCRUMBS AREA START -->
        <div class="breadcrumbs-area bread-bg-1 bg-opacity-black-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs">
                            <h2 class="breadcrumbs-title">Features</h2>
                            <ul class="breadcrumbs-list">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li>Features</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BREADCRUMBS AREA END -->

        <!-- Start page content -->
        <section id="page-content" class="page-wrapper">
            
            <!-- FEATURES AREA START -->
            <div class="features-area-2 pt-115 pb-50">
                {% for feature in features %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title-2 text-center">
                                <h2>HERE IS AWESOME FEATURES</h2>
                                <p>{{ feature.descriptions| safe }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="features-includes-2">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-4">
                                        <div class="features-include-list">
                                            <h6><img src="{% static 'images/icons/7.png' %}" alt="">Fully Furnished</h6>
                                            <p>{{ feature.Furnished }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-4">
                                        <div class="features-include-list">
                                            <h6><img src="{% static 'images/icons/7.png' %}" alt="">Royal Touch Paint</h6>
                                            <p>{{ feature.RoyalTouchPaint }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-4">
                                        <div class="features-include-list">
                                            <h6><img src="{% static 'images/icons/7.png' %}" alt="">Latest Interior Design</h6>
                                            <p>{{ feature.Design }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-4">
                                        <div class="features-include-list">
                                            <h6><img src="{% static 'images/icons/7.png' %}" alt="">Non Stop Security</h6>
                                            <p>{{ feature.Security }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-4">
                                        <div class="features-include-list">
                                            <h6><img src="{% static 'images/icons/7.png' %}" alt="">Living Inside a Nature</h6>
                                            <p>{{ feature.LivingInside }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-4">
                                        <div class="features-include-list">
                                            <h6><img src="{% static 'images/icons/7.png' %}" alt="">Luxurious Fittings</h6>
                                            <p>{{ feature.Fittings }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- FEATURES AREA END -->
            
            <!-- PROPERTIES VIDEO AREA START -->
            <div class="properties-video-area pb-115">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title-2 text-center">
                                <h2>TAKE A TOUR</h2>
                                <p>Sheltek is the best theme for  elit, sed do eiusmod tempor dolor sit amet, conse ctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et lorna aliquatd minim veniam, quis nostrud</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="properties-video">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe src="https://player.vimeo.com/video/117765418?title=0&byline=0&portrait=0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PROPERTIES VIDEO AREA END -->
            
            <!-- BOOKING AREA START -->
            <div class="booking-area bg-1 call-to-bg plr-140 pt-75">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="section-title text-white">
                                <h3>SOME</h3>
                                <h2 class="h1">FUN FACTOR</h2>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-8 col-xs-12">
                            <div class="booking-conternt  clearfix">
                                <div class="counter-content">
                                    <!-- counter-item -->
                                    <div class="counter-item">
                                        <h2>
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span class="counter">999</span>
                                        </h2>
                                        <p>Complete Project</p>
                                    </div>
                                    <!-- counter-item -->
                                    <div class="counter-item">
                                        <h2>
                                            <i class="fa fa-key" aria-hidden="true"></i>
                                            <span class="counter">555</span>
                                        </h2>
                                        <p>Property Sold</p>
                                    </div>
                                    <!-- counter-item -->
                                    <div class="counter-item">
                                        <h2>
                                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                                            <span class="counter">350</span>
                                        </h2>
                                        <p>Happy Clients</p>
                                    </div>
                                    <!-- counter-item -->
                                    <div class="counter-item">
                                        <h2>
                                            <i class="fa fa-trophy" aria-hidden="true"></i>
                                            <span class="counter">100</span>
                                        </h2>
                                        <p>Awards Win</p>
                                    </div>
                                </div>
                                <div class="booking-imgae">
                                    <img src="{% static 'images/others/booking1.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BOOKING AREA END -->

            <!-- TESTIMONIAL AREA START -->
            <div class="testimonial-area  pt-115 pb-115">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="testimonial">
                                <div class="row">
                                    <div class="col-md-8 col-sm-9">
                                        <div class="section-title mb-30">
                                            <h3>SOME OF OUR</h3>
                                            <h2 class="h1">HAPPY CLIENTS</h2>
                                        </div>
                                        <div class="testimonial-carousel dots-right-btm">
                                            <!-- testimonial-item -->
                                            {% for item in commentsList %}
                                            <div class="testimonial-item">
                                                <div class="testimonial-brief">
                                                    <p><span data-placement="top" data-toggle="tooltip" data-original-title="The name you can trust" class="tooltip-content"></span> {{ item.comments }}</p>
                                                </div>
                                                <h6>{{ item.name }}, <span>customer</span></h6>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-3">
                                        <div class="testimonial-image">
                                            <img src="{% static 'images/others/happy.jpg' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TESTIMONIAL AREA END -->
        </section>
        <!-- End page content -->
{% endblock %}
