{% load static %}


            <!-- BRAND AREA START -->
            <div class="brand-area pb-115">
                <div class="container">
                    <div class="row">
                        <div class="brand-carousel">
                            <!-- brand-item -->
                            {% for brand in brands %}
                            <div class="col-md-12">
                                <div class="brand-item">
                                    <img src="{{ brand.brandimg.url }}" alt="">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- BRAND AREA END -->

            <!-- SUBSCRIBE AREA START -->
            <div class="subscribe-area bg-blue call-to-bg plr-140 ptb-50">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="section-title text-white">
                                <h3>SUBSCRIBE</h3>
                                <h2 class="h1">NEWSLETTER</h2>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-8 col-xs-12">
                            <div class="subscribe">
                                <form action="#">
                                    <input type="text" name="subscribe" placeholder="Enter yur email here...">
                                    <button type="submit" value="send">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SUBSCRIBE AREA END -->

        <!-- End page content -->

        <!-- Start footer area -->
        <footer id="footer" class="footer-area bg-2 bg-opacity-black-90">
            <div class="footer-top pt-110 pb-80">
                <div class="container">
                    <div class="row">
                        <!-- footer-address -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-widget">
                                <h6 class="footer-titel">GET IN TOUCH</h6>
                                <ul class="footer-address">
                                    <li>
                                        <div class="address-icon">
                                            <img src="{% static 'images/icons/location-2.png' %}" alt="">
                                        </div>
                                        <div class="address-info">
                                            <span>8901 Marmora Raod,</span>
                                            <span>Glasgow, D04  89GR</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="address-icon">
                                            <img src="{% static 'images/icons/phone-3.png' %}" alt="">
                                        </div>
                                        <div class="address-info">
                                            <span>Telephone : (801) 4256  9856</span>
                                            <span>Telephone : (801) 4256  9658</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="address-icon">
                                            <img src="{% static 'images/icons/world.png' %}" alt="">
                                        </div>
                                        <div class="address-info">
                                            <span>Email : info@sheltek.com</span>
                                            <span>Web :<a href="#" target="_blank"> www.sheltek.com</a></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- footer-latest-news -->
                        <div class="col-lg-6 col-md-5 hidden-sm col-xs-12">
                            <div class="footer-widget middle">
                                <h6 class="footer-titel">LATEST NEWS</h6>
                                <ul class="footer-latest-news">
                                    <li>
                                        <div class="latest-news-image">
                                            <a href="single-blog.html"><img src="{% static 'images/blog/1.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="latest-news-info">
                                            <h6><a href="single-blog.html">Beautiful Home</a></h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur acinglit sed do eiusmod tempor inciidunt ut labore </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="latest-news-image">
                                            <a href="single-blog.html"><img src="{% static 'images/blog/2.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="latest-news-info">
                                            <h6><a href="single-blog.html">Beautiful Home</a></h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur acinglit sed do eiusmod tempor inciidunt ut labore </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="latest-news-image">
                                            <a href="single-blog.html"><img src="{% static 'images/blog/3.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="latest-news-info">
                                            <h6><a href="single-blog.html">Beautiful Home</a></h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur acinglit sed do eiusmod tempor inciidunt ut labore </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- footer-contact -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="footer-widget">
                                <h6 class="footer-titel">QUICK CONTACT</h6>
                                <div class="footer-contact">
                                    <p>Lorem ipsum dolor sit amet, consectetur acinglit sed do eiusmod tempor</p>
                                    <form  id="contact-form-2" action="mail_footer.php" method="post">
                                        <input type="email" name="email2" placeholder="Type your E-mail address...">
                                        <textarea name="message2" placeholder="Write here..."></textarea>
                                        <button type="submit" value="send">Send</button>
                                    </form>
                                    <p class="form-messege"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="copyright text-center">
                                <p>ELAHE AHMADI ;2021 <a href="https://themeforest.net/user/devitems/portfolio"><b>Devitems</b></a>. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer area -->