{% extends 'master.html' %}
{% load humanize %}
{% load static %}
{% load globalfunctions %}
{% load widget_tweaks %}
{% block content %}
<title>Sheltek || Properties Details</title>
        <!-- BREADCRUMBS AREA START -->
        <div class="breadcrumbs-area bread-bg-1 bg-opacity-black-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs">
                            <h2 class="breadcrumbs-title">Properties Details</h2>
                            <ul class="breadcrumbs-list">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'propertiesHouse' %}">Properties</a></li>
                                <li>Properties Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BREADCRUMBS AREA END -->

        <!-- Start page content -->
        <section id="page-content" class="page-wrapper">

            <!-- PROPERTIES DETAILS AREA START -->
            <div class="properties-details-area pt-115 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <!-- pro-details-image -->
                            <div class="pro-details-image mb-60">
                                <div class="pro-details-big-image">
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="pro-1"> <span>{{ house.name }} de {{ house.homeName }}  </span>
                                            {% getProfileDefualtPic house.id %}
                                            <a href="{{ defaultPic.image.url }}" data-lightbox="image-1" data-title="Sheltek Properties - 1">
                                                <img  style="min-height: 383px;min-width: 750px" src="{{ defaultPic.image.url }}" alt="">
                                            </a>
                                        </div>
                                    {% comment %}<span>{{ house.inDate|date:"Y-l-d" }}</span>{% endcomment %}
                                    <span>{{ house.inDate|naturaltime }}</span>

                                    </div>
                                </div>
                                <div class="pro-details-carousel">
                                    {% for item in housespic %}
                                    <div class="pro-details-item">
                                        <a href="{{ item.image.url }}" data-lightbox="image-1" data-title="Sheltek Properties - 1">
                                            <img src="{{ item.image.url }}" alt="">
                                        </a>
                                    </div>
                                    {% endfor %}

                                </div>                           
                            </div>
                            <!-- pro-details-short-info -->
                            <div class="pro-details-short-info mb-60">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="pro-details-condition">
                                            <h5>Condition</h5>
                                            <div class="pro-details-condition-inner bg-gray">
                                                <ul class="condition-list">
                                                    <li><img src="{% static 'images/icons/5.png' %}" alt="">{{ houses.rooms }}</li>
                                                    <li><img src="{% static 'images/icons/4.png' %}" alt="">{{ houses.square }} sqft</li>
                                                    <li><img src="{% static 'images/icons/6.png' %}" alt="">Bathroom {{ houses.bathrooms }}</li>
                                                    <li><img src="{% static 'images/icons/13.png' %}" alt="">Garage {{ houses.parking }}</li>
                                                    <li><img src="{% static 'images/icons/14.png' %}" alt="">Kitchen {{ houses.kitchen }}</li>
                                                    <li><img style="max-height: 20px" src="{% static 'images/icons/para.png' %}" alt="">price {{ houses.price_unit }}{{ houses.price }}</li>
                                                    <li><img src="{% static 'images/icons/location.png' %}" alt="">{{ houses.address }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="pro-details-amenities">
                                            <h5>Amenities</h5>
                                            <div class="pro-details-amenities-inner bg-gray">
                                                <ul class="amenities-list">
                                                      {{ house.amenities|unordered_list }}

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- pro-details-description -->
                            <div class="pro-details-description mb-50">
                                <p><span data-placement="top" data-toggle="tooltip" data-original-title="The name you can trust" class="tooltip-content">Sheltek</span> is  ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna iqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut quipx ea codo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolo</p>
                                <p>Sheltek is the Best  should be the consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore lore magna iqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eacm emod tempor incididunt ut labore lore magna iqua. Ut enim ad minim veniamco laboris nisi ut aliqu</p>
                                <p>Sheltek is the Best  should be the consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore lore magna iqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eacm</p>
                            </div>
                            <!-- pro-details-feedback -->
                            <div class="pro-details-feedback mb-40">
                                <h5> Comments</h5>
                                <!-- media -->
                                {% for item in comment %}
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img src="{% static 'images/avatar/3.jpg' %}" alt="">
                                    </a>
                                    <div class="media-body">
                                        <h6 class="media-heading"><a href="#">{{ item.name }}</a></h6>
                                        <p><span>{{ item.created_date }}</span> {{ item.comments }}</p>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                            <!-- agent-review -->
                            <div class="pro-details-agent-review">
                                <div class="row">
                                    <!-- single-agent -->
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                        <div class="pro-details-agent">
                                            <h5>Contact Agent</h5>
                                            <div class="single-agent">
                                                <div class="agent-image">
                                                    <img src="{{ house.agent.img.url }}" alt="">
                                                </div>
                                                <div class="agent-info">
                                                    <div class="agent-name">
                                                        <h5><a href="{% url 'agentDetails' house.agent.id %}">{{ house.agent.first_name }} {{ house.agent.last_name }}</a></h5>
                                                        <p>{{ house.agent.job }}</p>
                                                    </div>{{ house.agent.img.url }}
                                                </div>
                                                <div class="agent-info-hover">
                                                    <div class="agent-name">
                                                        <h5><a href="{% url 'agentDetails' house.agent.id %}">{{ house.agent.first_name }} {{ house.agent.last_name }}</a></h5>
                                                        <p>{{ house.agent.job }}</p>
                                                    </div>
                                                    <ul class="agent-address">
                                                        <li><img src="{% static 'images/icons/phone-2.png' %}" alt="">{{ house.agent.phoneNumber }} </li>
                                                        <li><img src="{% static 'images/icons/mail-close.png' %}" alt="">{{ house.agent.email }} </li>
                                                    </ul>
                                                    <ul class="social-media">
                                                        <li><a href="{{ house.agent.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                        <li><a href="{{ house.agent.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                        <li><a href="{{ house.agent.linkedin }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                        <li><a href="{{ house.agent.google_plus }}"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <!-- leave-massage -->
                                    <div class="col-md-7  col-sm-7 col-xs-12">
                                        <div class="leave-review">
                                            <h5>Leave a Review</h5>
                                            <form action="#" method="post">
                                                {% csrf_token %}
                                                <input type="text" name="name" placeholder="Your name">
                                                <input type="email" name="email" placeholder="Email here">
                                                <textarea name="message" placeholder="Write here"></textarea>
                                                <button type="submit" class="submit-btn-1">SUBMIT REVIEW</button>
                                            </form>

                                            {% if messages %}
                                                <ul class="messages" style="text-align: left">

			                        	            {% for message in messages %}
			                        		            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}><span style="color: #38c738; font-weight: 700; ">{{ message }}</span></li>
			                        	            {% endfor %}
			                                    </ul>
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit">
                        </form>
                        <div class="col-md-4">
                            <!-- widget-search-property -->
                            <aside class="widget widget-search-property">
                                <h5>Search For Property</h5>
                                <div class="row">
                                    <div class="col-md-6 col-sm-3 col-xs-12">
                                        <div class="find-home-item custom-select">                  
                                            <select class="selectpicker" title="Location" data-hide-disabled="true" data-live-search="true">
                                                <optgroup disabled="disabled" label="disabled">
                                                    <option>Hidden</option>
                                                </optgroup>
                                                <optgroup label="Australia">
                                                    <option>Sydney</option>
                                                    <option>Melbourne</option>
                                                    <option>Cairns</option>
                                                </optgroup>
                                                <optgroup label="USA">
                                                    <option>South Carolina</option>
                                                    <option>Florida</option>
                                                    <option>Rhode Island</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-3 col-xs-12">
                                        <div class="find-home-item custom-select">                  
                                            <select class="selectpicker" title="Sub - Location" data-hide-disabled="true" data-live-search="true">
                                                <optgroup disabled="disabled" label="disabled">
                                                    <option>Hidden</option>
                                                </optgroup>
                                                <optgroup label="Australia">
                                                    <option>southeastern coast</option>
                                                    <option>southeastern tip</option>
                                                    <option>northwest corner</option>
                                                </optgroup>
                                                <optgroup label="USA">
                                                    <option>Charleston</option>
                                                    <option>St. Petersburg</option>
                                                    <option>Newport</option>
                                                </optgroup>
                                            </select>
                                        </div> 
                                    </div>
                                    <div class="col-md-6 col-sm-3 col-xs-12">
                                        <div class="find-home-item">
                                            <input type="text" name="min-area" placeholder="Min area (sqft)">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-3 col-xs-12">
                                        <div class="find-home-item">
                                            <input type="text" name="max-area" placeholder="Max area (sqft)">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-3 col-xs-12">
                                        <div class="find-home-item  custom-select">                  
                                            <select class="selectpicker" title="No. of Beadrooms" data-hide-disabled="true">
                                                <optgroup  label="1">
                                                    <option label="1">1 Beadrooms</option>
                                                    <option>2 Beadrooms</option>
                                                    <option>3 Beadrooms</option>
                                                    <option>4 Beadrooms</option>
                                                    <option>5 Beadrooms</option>
                                                </optgroup>
                                            </select>
                                        </div> 
                                    </div>
                                    <div class="col-md-6 col-sm-3 col-xs-12">
                                        <div class="find-home-item custom-select">                  
                                            <select class="selectpicker" title="No. of Bathrooms" data-hide-disabled="true">
                                                <optgroup label="2">
                                                    <option>1 Bathrooms</option>
                                                    <option>2 Bathrooms</option>
                                                    <option>3 Bathrooms</option>
                                                    <option>4 Bathrooms</option>
                                                    <option>5 Bathrooms</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-sm-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-7 col-xs-12">
                                                <div class="find-home-item">
                                                    <!-- shop-filter -->
                                                    <div class="shop-filter">
                                                        <div class="price_filter">
                                                            <div class="price_slider_amount">
                                                                <input type="submit"  value="You range :"/> 
                                                                <input type="text" id="amount" name="price"  placeholder="Add Your Price" /> 
                                                            </div>
                                                            <div id="slider-range"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-5 col-xs-12">
                                                <div class="find-home-item">
                                                    <a class="button-1 btn-block btn-hover-1" href="#">SEARCH</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                            <!-- widget-featured-property -->
                            <aside class="widget widget-featured-property">
                                <h5>Featured Property</h5>
                                <div class="row">
                                    <!-- flat-item -->
                                    {% for item in FeaturedProperty %}
                                    <div class="col-md-12 col-sm-6 col-xs-12">
                                        <div class="flat-item">
                                            <div class="flat-item-image">
                                                <span class="for-sale">For {{ item.type }}</span>
                                                {% getProfileDefualtPic item.id %}
                                                <a href="{% url 'propertiesDetails' item.id %}"><img src="{{ defaultPic.image.url }}" alt=""></a>
                                                <div class="flat-link">
                                                    <a href="{% url 'propertiesDetails' item.id %}">More Details</a>
                                                </div>
                                                <ul class="flat-desc">
                                                    <li>
                                                        <img src="{% static 'images/icons/4.png' %}" alt="">
                                                        <span>{{ item.square }} sqft</span>
                                                    </li>
                                                    <li>
                                                        <img src="{% static 'images/icons/5.png' %}" alt="">
                                                        <span>{{ item.rooms }}</span>
                                                    </li>
                                                    <li>
                                                        <img src="{% static 'images/icons/6.png' %}" alt="">
                                                        <span>{{ item.bathrooms }}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="flat-item-info">
                                                <div class="flat-title-price">
                                                    <h5><a href="{% url 'propertiesDetails' item.id %}">{{ item.name }} de {{ item.typehome }} </a></h5>
                                                    <span class="price">{{ item.price_unit }} {{ item.price }}</span>
                                                </div>
                                                <p><img src="{% static 'images/icons/location.png' %}" alt="">{{ item.address }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </aside>
                            <!-- widget-video -->
                            <aside class="widget widget-video">
                                <h5>Take A Look</h5>
                                <div class="properties-video">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <!-- <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/40934652"></iframe> -->
                                        <iframe src="https://player.vimeo.com/video/117765418?title=0&byline=0&portrait=0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PROPERTIES DETAILS AREA END -->


        </section>

{% endblock %}